.date-picker-container {
    position: fixed;
    z-index: 20;
    border: 1px solid #dadada;
    left: 50%;
    transform: translateX(-50%);
    .date-pick {
        width: 800px;
    }
    .rdrMonths {
        justify-content: space-around;
    }
    .close-btn {
        display: flex;
        justify-content: center;
        background-color: #eff2f7;
        padding: 5px 0;
        font-size: 1.6rem;
        color: rgba(0, 0, 0, 0.671);
    }
    .close-btn:hover {
        background-color: #ebecee;
        cursor: pointer;
    }
}

@include for-mobile-layout {
    .date-picker-container {
        top: 70px;
        
        .date-pick {
            width: 370px;
        }
    }
}
@include for-normal-layout {
    .date-picker-container {
        top: 140px;
        
        .date-pick {
            width: 800px;
        }
    }
}
